
<section>
    <h1>WELCOME TO THE DRIVE FRESH FOOD</h1>
</section>
<section class="about">
    <p >{{'HOME.TEXT1' | translate}}    </p>

     <p>  {{'HOME.TEXT2' | translate}}
    </p>
</section>
<section class="location">
    <div class="map">
    <div class="titleloc">
        <h2>{{'HOME.LOCATION' | translate}}</h2>
     <p>{{'HOME.TEXT3' | translate}}</p>
    </div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d437.55820770582704!2d42.377780989929974!3d42.45903599956796!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x405c6997526858cd%3A0x1dd51ac9e0453355!2sDrive%20Fresh%20Food!5e0!3m2!1sen!2sge!4v1749157576193!5m2!1sen!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
</section>
<section class="lastwords">
<h3>{{'HOME.TEXT4' | translate}}</h3>
</section>
